$purple: #835afd;
$lighter-purple: #F4F0FF;
$pink: #e559f9;
$white: #fff;
$light-white: #fefefe;
$lighter-white: #f8f8f8;
$dark-white: #DBDCDD;
$light-gray: #e2e2e2;
$lighter-gray: #a8a8b3;
$dark-gray: #737380;
$darker-gray: #29292e;
$strong-red: #ea4335;