@import '_colors';

.question {
  background: $light-white;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px
  }

  &.highlighted {
    background: $lighter-purple;
    border: 1px solid $purple;
    
    footer .user-info span {
      color: $darker-gray;
    }
  }
  
  &.answered {
    background: $dark-white;
    opacity: 0.6;
  }

  p {
    color: $darker-gray;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: $dark-gray;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: $dark-gray;
        gap: 8px;

        &.liked {
          color: $purple;

          svg path {
            stroke: $purple;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}